#IntelliJ
*.iml
/.idea/

# Python
__pycache__/
/catwalk.egg-info/

# Eleuther Evaluation Harness creates this directory
/lm_cache/
/data/

# Tango Workspace for debugging
/workspace/

# vim detritus
*~

#PyTest
/.pytest_cache/
