isort
black
mypy

# Needed for packaging and uploading to PyPi
twine>=1.11.0
setuptools
wheel

# For parsing and comparing version numbers.
packaging

# running tests
pytest>=6.2.5
pytest-sphinx
pytest-xdist
pytest-forked
flaky

# Building docs
Sphinx<6
# Sphinx theme: https://sphinx-themes.org/sample-sites/furo/
furo
# Lets Sphinx parse markdown files in addition to rst.
myst-parser
# Adds a copy button to code examples in the docs.
sphinx-copybutton
# Live rebuilding and reloading of docs for developing locally.
sphinx-autobuild
# Automatically adds types to docs
sphinx-autodoc-typehints
