ai2-tango[torch,transformers,fairscale,beaker,wandb]>=1.0
#ai2-tango[torch,transformers,fairscale,beaker,wandb] @ git+https://github.com/allenai/tango.git@main

torchmetrics==0.10.2
more_itertools
spacy>=3.0.0
wget
datasets>=2.1.0
accelerate

#git+https://github.com/EleutherAI/lm-evaluation-harness.git
git+https://github.com/dirkgr/lm-evaluation-harness.git@NumexprDependency
#lm-eval
# The Eleuther harness depends on these even at runtime, but does not declare them.
mypy_extensions
pytest

# For promptsource
jinja2
pyyaml>=5
